.about-section {
  text-align: center;
  background-color: var(--about-bg);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.about-section.fade-in-slide-up {
  opacity: 1;
  transform: translateY(0);
}

.about-section p {
  max-width: 800px;
  margin: 0 auto 20px auto;
  font-size: 1.15em;
  line-height: 1.8;
  color: var(--text-color-light);
}

[data-theme='dark'] .about-section p {
  color: var(--text-color-dark);
}

@media (max-width: 768px) {
  .about-section p {
    font-size: 1em;
  }
}