.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: var(--primary-color);
  color: #ffffff; 
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.back-to-top:hover {
  background-color: var(--project-link-hover-bg); 
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}


@media (max-width: 768px) {
  .back-to-top {
    width: 45px;
    height: 45px;
    font-size: 1.2em;
    bottom: 20px;
    right: 20px;
  }
}